body {
  box-sizing: border-box;
  margin: 0;
}
.container {
  height: 100vh;
  width: 100vw;
  background-color: #0709cb;
  /* background-image: linear-gradient(160deg, #0709cb 0%, #669ebf 100%);
  background-color: #0093E9; */
  background-image: linear-gradient(0deg, #0093e9 0%, #80d0c7 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

#startButton,
#stopButton {
  padding: 10px 20px;
  margin: 5px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
}

#startButton {
  background-color: #4cd137;
  color: white;
}

#stopButton {
  background-color: #eb2f06;
  color: white;
}

.controls {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
#videoElement {
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%); */
  margin: 5px;
  padding: 5px;
}

video,
img {
  max-height: 70%;
}

img {
  position: absolute;
  width: 50%;
}

#toDraw {
  opacity: 0; /* Semi-transparent */
  pointer-events: none; /* Allow interaction with camera */
}

input{
    width: 50px;
}

label{
    font-size: 16px;
    
}